<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Twitch Favorites</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-12">
                <div id="twitch-embed"></div>
            </div>
            <div class="col-12 mt-2"><h4>Recent events</h4></div>
            <div class="col-12 mt-1" id="events">
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/reconnecting-websocket@4.1.10/dist/reconnecting-websocket-cjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <script type="text/javascript">

        new Twitch.Embed("twitch-embed", {
            width: 1024,
            height: 480,
            channel: "{{ streamer }}"
        });

        var socket = new ReconnectingWebSocket('ws://' + window.location.host + '/eventsocket/');

        var nMessages = 0

        socket.onmessage = function(message) {
            if (nMessages == 10) {
                $('#events .alert:last').remove()
            } else {
                nMessages++;
            }
            $('#events').prepend('<div class="alert alert-primary" role="alert">' + message.data + '</div>');
        }

    </script>
</body>