<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Twitch Favorites</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-sm-center align-items-center" style="height: 100%">
            <div class="col-4">
                <form action="{% url 'events' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="favorite">Favorite Streamer</label>
                        <input type="text" class="form-control" name="favorite" id="favorite" />
                    </div>
                    <input type="hidden" name="token" value="{{ access_token }}">
                    <button type="submit" class="btn btn-primary btn-block">Continue</button>
                </form>
            </div>
        </div>
    </div>
</body>